*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: sans-serif;
    background: rgba(0, 0, 0, 0.6) url(images/login\ page.png);
    background-blend-mode: darken;
    background-size: cover;
}
.logo{
    width: 10%;
    margin-top: 2rem;
}
.nav{
    padding-top: 5px;
    padding-left: 2vw;
    padding-right: 4vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    background-color: red;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    padding: 8px 15px;
    color: #fff;
    
}
.details{
    color: #fff;
    position: absolute;
    margin-top: 7%;
    margin-left: 29%;
    align-items: center;
}
.details h1{
    font-size: 3.5rem;
}
.details h3{
    font-size: 25px;
}
.details p{
    margin-left: 5%;
}
.email{
    width: 100%;
}